body {
    font-family: Arial, sans-serif;
    background-color: brown;
}


.main-heading {
    text-align: center;
    color: dark blue;
    margin: 20px;
}

.main-content {
    padding: 20px;
    background-color: white;
    border-radius: 5px;
}

#project list {
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    margin: 20px;
}